<div id="modal-bg">
    <div class="modal-content-form">
        <section class="inner-modal-top">
            <button id="exit"><img src="/assets/img/exit.png" alt="Sair"></button>

        </section>
        <form id="modal-form">

            <label class="inner-modal-title" id="et">Email: <input class="modal-login-input" type="email" name="email"></label>
            <label class="inner-modal-title" id="pst">Senha: <input class="modal-login-input" type="password" name="password"></label>

            <button type="submit">Entrar</button>
        </form>
    </div>
</div>
<div class="loading"></div>